<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <% @card_item.each do |card_item|%>
      <div class="carousel-item active h-25">
        <%= image_tag card_item.menu.item_detail.image, class:"d-block w-100"%>
        <div class="carousel-caption d-none d-md-block">
          <h5><%= card_item.menu.item_detail.name%></h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    <%end%>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<hr>
<section class="lists-card-item">
  <%= render "users/dashboard/item_card/added_item"%>
</section>
<hr>
<style type="text/css">
  .bill-details{
    background: #fff;
  }

  .item-info{
    background: #f8f9fb;
    padding: 20px;
    border-radius: 5px;
  }

  .card-item-comon, .text-font{
    font-size: 12px;
  }

  .card-item-header{
    padding: 10px 0px;
    border-bottom: 2px solid red;
    margin: 10px 0px;
  }

  .wrapper{
    color: #fff;
    height: 25px;
    min-width: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #253893;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .wrapper span{
    width: 100%;
    text-align: center;
    user-select: none;
  }
  .wrapper span.num{
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }

  .plus, .minus{    
    padding: 0px 16px;
    color: white;
    font-weight: 800;
  }

  .wrapper input[type="text"]{
    text-align: center;
    height: 25px !important;
    border-radius: 0px !important;
  }
</style>
