<h5 class="text-center my-5">List of Restaursants</h5>
<div class="row">
  <% (0..20).each do |i|%>
  <div class="col-sm-12 d-flex justify-content-center">
    <div class="card my-2" style="width:31rem;">
      <%= image_tag("photo-restau.jpeg",alt:"Card image cap", height: 200, class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-primary btn-sm">Show Info</button>
        <button type="button" class="btn btn-secondary btn-sm">Items</button>
      </div>
    </div>
  </div>
  <%end%>
</div>
