<h5 class="text-center my-5">List of Restaursants</h5>
<div class="row">
  <% (0..20).each do |i|%>
  <div class="col-sm-12 d-flex justify-content-center">
    <div class="card my-2" style="width:31rem;">
      <%= image_tag("photo-restau.jpeg",alt:"Card image cap", height: 200, class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-primary btn-sm">Show Info</button>
        <button type="button" class="btn btn-secondary btn-sm">Items</button>
      </div>
    </div>
  </div>
  <%end%>
</div>

<nav>
  <div class="smenu-toggle"></div>
  <div class="profile">
    <div class="user">
      <h3>Katherine Cooper</h3>
      <p>@probablykat66</p>
    </div>
    <div class="img-box">
      <img src="https://i.postimg.cc/BvNYhMHS/user-img.jpg" alt="some user image">
    </div>
  </div>
  <div class="navmenu">
    <ul>
      <li><a href="#"><i class="ph-bold ph-user"></i>&nbsp;Profile</a></li>
      <li><a href="#"><i class="ph-bold ph-envelope-simple"></i>&nbsp;Inbox</a></li>
      <li><a href="#"><i class="ph-bold ph-gear-six"></i>&nbsp;Settings</a></li>
      <li><a href="#"><i class="ph-bold ph-question"></i>&nbsp;Help</a></li>
      <li><a href="#"><i class="ph-bold ph-sign-out"></i>&nbsp;Sign Out</a></li>
    </ul>
  </div>
</nav>


<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    min-height: 100vh;
    background: #3A1C71;
    background: linear-gradient(45deg, #3A1C71, #D76D77, #FFAF7B);
}

/*nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

/* menu toggle */

.menu-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background: #000;
    box-shadow: 0 8px 0 #000,
                0 -8px 0 #000;
}

/* profile menu */

.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: end;
}

.profile h3 {
    text-align: end;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 600;
}

.profile p {
    line-height: 1;
    font-size: 14px;
    opacity: .6;
}

.profile .img-box {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* menu (the right one) */

.navmenu {
    position: absolute;
    top: calc(100% + 24px);
    right: 16px;
    width: 200px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
}

.navmenu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.navmenu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* menu links */

.navmenu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #fff;
}

.navmenu ul li {
    list-style: none;
}

.navmenu ul li:hover {
    background: #eee;
}

.navmenu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
}

.navmenu ul li a i {
    font-size: 1.2em;
}
</style>

<script type="text/javascript">
  let profile = document.querySelector('.profile');
let menu = document.querySelector('.navmenu');

profile.onclick = function () {
    menu.classList.toggle('active');
}
</script>