/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: Montserrat, sans-serif;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('photo-restau.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  background-size: cover;
/*  background-color: #28223F;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
}

.body-bg{
  background: #06060699;
  height: 100%;
  width: 100%;
  position: fixed;
}

/*body{
  background: #d6d7e526;
}*/

.alert-success, .alert-warning {
/*  z-index: 99;*/
  position: relative;
  top: 65px;
  padding: 9px;
  margin: 3px 36px;
}

.alert-dismissible .btn-close {
  padding: 0.85rem 1rem !important;
}

nav{
/*  background: #ff2300;*/
  background: #253893
}
.nav-link{
  font-weight: 600;
  color: white !important;
}

.custome-food-i{
  color: white;
  margin: 0px 20px;
  padding: 12px;
  font-size: 20px;
  background: red;
  border-radius: 50%;
}

.container{
  max-width: 1250px;
}